@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&display=swap');


[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    float:left;
    
  }

.container{
    width: 75%;
  }


body{
    text-decoration: none !important;
    background-color: black !important;
    color:white !important;
    font-family: 'Raleway', sans-serif !important;
    font-style: normal !important;
    list-style:none !important;

    
    

}

.mitad{
    position:relative;


}

.otramitad{
    position:relative;
    /*padding:1px; */
    align-items: left;
    float:left;
    text-align:left;

}


.scroll{

    overflow:auto;
    max-width: 100%;

    white-space: nowrap;
    overflow-x: hidden;
    max-height: 1090px;

    
}



/*el css del scroll junto al .scroll */

::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{

    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 0, 234); 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}

/*fin del css del scroll junto al .scroll */


.botoneras{
    align-items: center;
    float:center;
    text-align:center;
}



.separador{
    padding:10px;
}

.logo{
    align-items: center;
    width: 280px;
    height: auto;
    margin-top:7px;

    
}

.h1{
    text-align:left;
    color:rgb(255, 0, 234);
}

.titulos{
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Rock Salt', cursive;
    color:#00fd5e;
    font-size: xx-large;
    text-shadow: 2px 2px #ff00ea;
}
.titulos2{
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Rock Salt', cursive;
    color:#00fd5e;
    font-size: small;
    text-shadow: 2px 2px #ff00ea;
}


.botondecaracter{
   
    border-radius: 44px 44px 44px 44px;
    width:200px;
    border: 0px solid #000000;


}

.botondecaracter:hover{
    width:290px;
    box-shadow: 0px 0px 23px 6px rgba(224,11,224,1) ;
    background-color: rgb(224, 11, 224) !important;

    
}

.botondecaracter:active{
    width:290px;
    box-shadow: 0px 0px 23px 6px rgb(43, 255, 0) ;

    
}


.footerraro{
    text-decoration: none;
    list-style:none !important;
    list-style-type:none;
    text-align: center;
}



.nav{
    position:relative;

    margin: 11px;
    padding: 16px;
    width: 100%;
    height: 60px;
    margin-bottom: 90px;
    align-items: right;

}

/*comienza el navbar */
.active-purple-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid rgb(212, 171, 212);
    box-shadow:  rgb(192, 161, 192);
    background-color: #000000;
    color:rgba(224,11,224,1);
  }
  .active-purple-3 input[type=text] {
    border: 1px solid  rgba(224,11,224,1);
    box-shadow: 0 0 0 1px  rgba(224,11,224,1);
    background-color: #000000;

  }
/*termina el navbar */

.escritura{
    font-family: 'Hind Guntur', sans-serif;

}

.barra::-webkit-meter-optimum-value {
    background: rgb(255, 0, 255);
}


.barra::-webkit-meter-suboptimum-value {
    background: rgb(194, 66, 194);
}



